.main {
  width: 80%;
  margin: 0 auto;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.main__cards {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px auto;
}

.main__card {
  width: 50%;
  border: 2px solid teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 30px;
  color: teal;

  &-content {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  &-title {
    margin-bottom: 10px;
    font-weight: bold;
  }

  &-description {
    font-size: 20px;
  }

  &-button {
    border: 2px solid #9d2711;
    padding: 5px;
    border-radius: 10px;
    color: #9d2711;
    font-weight: bold;
    transition: 0.2s ease-out;

    &:hover {
      background-color: lighten(#9d2711, 10%);
      color: #FFF;
    }
  }
}